{{ define "header" }}
<meta name="description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Title }}{{ end }}" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/atom-one-dark.min.css"
/>
<link rel="stylesheet" href="{{ "/css/layouts/single.css" | relURL }}"/>
<link rel="stylesheet" href="{{ "/css/navigators/sidebar.css" | relURL }}">
<!--================= custom style overrides =========================-->
<link rel="stylesheet" href="{{ "/css/style.css" | relURL }}"/>

{{ end }}

{{ define "navbar" }}
    {{ partial "navigators/navbar-2.html" . }}
{{ end }}


{{ define "content" }}
<section class="content-section" id="content-section" style="margin: 0 auto;">
  <div class="content">
    <div class="container p-0 read-area">

      <!--Content Start-->
      <div class="page-content">

        <!-- Form start -->
        <div id="contact_form">
            <div class="title">
              <h1>{{ .Page.Title }}</h1>
            </div>

            <form name="contact" method="POST" data-netlify="true" autocomplete="off" action="contact/success" data-netlify-honeypot="bot-field" data-netlify-recaptcha="true">
              <div class="form-group">
                <label for="inputNome">{{ i18n "contact_form_nome"}}
                <input type="email" class="form-control" id="inputNome" placeholder="{{ i18n "contact_form_nome_placeholder"}}" required>
                </label>
                <small id="emailHelp" class="form-text text-muted">{{ i18n "contact_form_not_disclosure"}}</small>
              </div>
              <div class="form-group">
                <label for="inputEmail">{{ i18n "contact_form_email"}}
                <input type="password" class="form-control" id="inputEmail" placeholder="{{ i18n "contact_form_email_placeholder"}}" required>
                </label>
              </div>
              <div class="form-group">
                <label for="inputMessaggio">{{ i18n "contact_form_messaggio"}}
                <textarea class="form-control" id="inputMessaggio" placeholder="{{ i18n "contact_form_messaggio_placeholder"}}" rows="5" required></textarea>
                </label>
              </div>
              <div data-netlify-recaptcha="true"></div>
              <div class="form-check" style="text-align: center">
                <input type="submit" class="btn btn-primary btn-outline-info" style="text-align: center;">{{ i18n "contact_form_invio"}}</button>
              </div>
            </form>
        </div>
      </div>
    </div>
  </div>
  <!--scroll back to top-->
  <a id="scroll-to-top" class="btn"><i class="fas fa-chevron-circle-up"></i></a>
  {{ if .IsTranslated }}
    {{ partial "navigators/floating-lang-selector.html" . }}
  {{ end }}
</section>
{{ end }}


{{ define "scripts" }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
<script src="{{ "/js/single.js" | relURL }}"></script>
<script>
  hljs.initHighlightingOnLoad();
</script>

{{ end }}
