<div class="col-sm-12 col-md-6 col-lg-4 p-2 filtr-item" data-category='all, {{ delimit  .tags ","}}'>
  <div class="card mt-1 project">
        {{ $logoImage:= resources.Get .image}}
        {{ if $logoImage }}
            {{/*  svg don't support "Fit" operation   */}}
            {{ if ne $logoImage.MediaType.SubType "svg" }}
              {{ $logoImage = $logoImage.Fit "256x256" }}
            {{ end }}

            <img class="" src="{{ $logoImage.RelPermalink }}" alt="{{ .name }}" />

            <div class="project-overlay">               
                <div class="project-description">
                    <h4>{{ .name }}</h4>
                    <p>{{ .summary | markdownify }}</p>
                    
                    <a href="#portfolio-modal" data-toggle="modal" class="link-1"><i class="fa fa-magic"></i></a>
                    <a href="{{ .url }}" class="link-2"><i class="fa fa-link"></i></a>
                </div>
            </div>

        {{end}}
  </div> 
</div>
