<div class="col-lg-4 col-md-6 pt-2 post-card">
  <a href="{{ .RelPermalink }}" title="{{ .Title }}" class="post-card-link">
    <div class="card">
      <div class="card-head">
        <img class="card-img-top" src='{{ partial "helpers/get-hero.html" . }}'
          alt="Card image cap"
        />
      </div>
      <div class="card-body">
        <h3 class="card-title">{{ .Title }}</h3>
        <p class="card-text post-summary"> {{ .Summary }}</p>
      </div>
      <div class="card-footer">
        <span class="float-left">{{ time.Format "Jannuary 2006" .Date }}</span>
        <a href="{{ .RelPermalink }}" title="{{ i18n "read" }}" class="float-right btn btn-outline-info btn-sm">
            {{ i18n "read" }} <img src="/images/right_arrow.svg" class="keep-reading" />
        </a>
      </div>
    </div>
  </a>
</div>
