<div class="col-xs-12 col-sm-6 col-lg-4 pt-2 skills">
  <a class="skill-card-link" {{ if .url }}href="{{ .url }}" title="{{ .name }}" target="_blank" rel="noopener"{{ end }}>
    <div class="card">
      <div class="card-head">
        {{ if .logo }}
          {{ $logoImage := resources.Get .logo }}
          {{/*  svg don't support "Fit" operation   */}}
          {{ if ne $logoImage.MediaType.SubType "svg" }}
            {{ $logoImage = $logoImage.Fit "124x124" }}
          {{ end }}
        
          <img class="card-img-m" src="{{ $logoImage.RelPermalink }}" alt="{{ .name }}" />
          <h3 class="card-title">{{ .name }}</h3>
        {{ else if .icon }}
          {{ $iconName := .icon }}
          <h3 class="card-title"><span class="{{ $iconName }}"> {{ .name }}</span></h3>
        {{ else }}
          <h3 class="card-title">{{ .name }}</h3>
        {{ end }}
      </div>
      <div class="card-body">
        <p class="card-text">{{ .summary | markdownify }}</p>
      </div>
    </div>
  </a>
</div>
