/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 6, 2022, 11:23:06 PM
    Author     : npari
*/
:root {
    --primary-color: #FF432E;
    --primary-color-dark: #99281c;
    --text-color: #6b6b6b;

    --text-secondary-color: #6c757d;
    --background-color: #eaedf0;
    --secondary-background-color: #212529;

    --secondary-color: #f8f9fa;
    --text-color-dark: #e4e6eb;
    --text-secondary-color-dark: #b0b3b8;
    --background-color-dark: #18191a;
    --secondary-background-color-dark: #212529;
    
    --secondary-color-dark: #212529;
}

body {
    color: var(--text-color) !important;
    font-family: "Open Sans", sans-serif; 
}
a { color: var( --primary-color-dark ); transition: 0.3s ease-in-out;  }
a:hover { color: var( --primary-color ); text-decoration: none; }

h1 { font-weight: 800; color: var( --primary-color ); letter-spacing: 1px; font-size: clamp(40px, 8vw, 45px); margin-bottom: 2rem; }
h2 { margin-bottom: 2rem; }
h3 { color: var( --primary-color ) }
p { font-weight: 400; color: var( --text-color ); font-size: 18px; line-height: 1.7; }

/* HOME */
@media only screen and (max-width: 576px) { .content { top: -80% } }
.content { top: -75% }
.navbar-brand img { width: 120px !important; }
#homePageBackgroundImageDivStyled { background-image: none !important; background-color: var( --secondary-background-color ) !important; }
.sidebar-holder { top: 3.1rem !important; }

#primary-font { line-height: 2rem; text-align: left; }
#primary-font .greetings { font-size: clamp(14px,5vw,16px); opacity: 0.6; }
#primary-font .name { font-size: clamp(40px, 8vw, 80px); color: var(--primary-color) !important; margin-left: -4px  }
#primary-font .greeting-subtitle { color: inherit; font-size: clamp(40px, 8vw, 30px); opacity: 0.5; }
#primary-font h1, h2, h3 { color: inherit; }
#primary-font .typing-carousel { font-size: 23pt; color: #f9fafc !important; margin-top: 1rem; opacity: 0.5; }
.rounded-circle { border-radius: 20% !important; }

/* POST */
.toc .nav-link:hover, .toc .nav-link:focus, .toc .nav-link.active { background-color: transparent !important; color: var(--primary-color) !important; font-weight: 900; }

.content .title h1 { font-size: clamp(40px, 8vw, 75px); }
a.header-anchor { color: var(--primary-color) !important; }
a.header-anchor:hover { opacity: 0.8; transition: 0.3s }
.post-content h2 { font-size: clamp(40px, 8vw, 45px); }

/* HOME - ABOUT */
#about h5 { opacity: 0.4 }
.circular-progress.primary-color .circular-progress-bar { border-color: var( --primary-color ); }
.social-link a { color: var( --text-color ) !important }
.social-link a:hover { color: var( --primary-color ) !important }

/* HOME - SKILLS */
#primary-skills div { cursor: help }
.card-body { text-align: left; }

/* HOME - EXPERIENCES */
.circle { background-color: var( --primary-color ) }
.timeline .horizontal-line .corner, .timeline .vertical-line::after, .timeline .horizontal-line hr { border-color: var( --primary-color ) }
.flag img { width: 65px; border-radius: 10%; border: 1px solid #6b6b6b22 }
.flag { text-align: center }
@media only screen and (max-width: 992px) { .flag { display: none; } }
.position { opacity: 0.5; font-style: italic; font-size: initial; }

/* HOME - FOOTER */
.footer { background-color: var( --secondary-background-color ) }

/* HOME - PROJECTS */
.project-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 67, 46, 0.8);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}
.project img { display: block; width: 100%; height: auto; }
.project { position: relative; width: 100%; text-align: center; cursor: pointer; }
.project:hover .project-overlay { height: 100%; }

.project .project-overlay .project-description { 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
    width: 90%; }

.project-description h4 {
    text-transform: uppercase;
    color: #fff;
    font-weight: 800;
    text-align: center;
    font-size: 22px;
    margin-bottom: 10%;
    font-family: "Sans Serif"
}
.project-description p {
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 0 5%;
    opacity: 0.8;
}

.project-description a.link-1 i {
    left: -10%;
    position: relative;
    margin-top: 10%;
}
.project-description a.link-2 i {
    left: 10%;
    position: relative;
    margin-top: 10%;
}
.project-description a { color: #fff; opacity: 0.6; }
.project-description a:hover { opacity: 1; }

.btn-group { background-color: #f6f6f699; border-radius: 5px; }
.btn-group .btn-link {
    color: #6b6b6b;
    display: block;
    font-size: 16px;
    line-height: 10px;
    font-weight: 500;
    padding: 25px 15px 30px;
    overflow: hidden;
    border-top: 2px solid transparent;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.btn-group .btn-link:hover, .btn-link:active, .btn-link:focus {
    text-decoration: none;
    background-color: var(--primary-color);
    color: #fff;
}