/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 6, 2022, 11:23:06 PM
    Author     : npari
*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600;700&family=Montserrat&display=swap');
:root {
    --text-color: #6b6b6b;
    --text-light: #f1f2f4;
    --text-color-dark: #1c2d41;
    --primary-color: #ff4343; /*#ff432e*/
    --primary-color-blend: #ff6666; /*#ff432e*/
    --primary-color-dark: #99281c;
    --background-color: #f1f2f4;
    --background-color-dark: #f0f1f4;
    --secondary-background-color: #212529;
}

body {
    color: var(--text-color-dark) !important;
    font-family: "Montserrat"; 
    letter-spacing: 0.5px;
}
.bg-dimmed { background-color: var( --background-color-dark ) !important; }
a { color: var( --primary-color-dark ); transition: 0.3s ease-in-out;  }
a:hover { color: var( --primary-color ); text-decoration: none; }

h1, h2, h3 { font-family: 'Oswald'; letter-spacing: 1px; } 
h1 { font-weight: 600; color: var( --primary-color ); letter-spacing: 1px; font-size: clamp(40px, 8vw, 45px); margin-bottom: 2rem; }
h2 { margin-bottom: 2rem; }
h3 { color: var( --primary-color ) }
h5 { font-size: 18px; font-weight: 600; }
p, .post-content .alert, ul li { font-weight: 400; font-size: 18px; line-height: 2.1; font-family: 'Montserrat'; letter-spacing: 0.5px; color: var( --text-color-dark ); }
a, span { font-weight: 400; font-size: 18px; line-height: 2.1; font-family: 'Montserrat'; letter-spacing: 0.5px; }

/**
 * SCROLLBAR
 */
/* width */
::-webkit-scrollbar { width: 21px; }
/* Track */
::-webkit-scrollbar-track { background: #f8f8f8; }
 /* Handle */
::-webkit-scrollbar-thumb { background: var(--primary-color); border-radius: 5px; }
/* Handle on hover */
::-webkit-scrollbar-thumb:hover { background: var(--primary-color-dark); }

/* HOME */
@media only screen and (max-width: 576px) { .home .content { top: -80% } }
.home .content { top: -75% }
.navbar-brand img { height: 40px !important; width: auto; }
#homePageBackgroundImageDivStyled { background-image: none !important; background-color: var( --background-color-dark ) !important; }
.sidebar-holder { top: 3.1rem !important; }
.sidebar { height: 95vh; } /* Elimina lo scroll verticale a meno di numerosi posts */
.navbar-dark .navbar-toggler-icon { background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(107, 107, 107, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); }
.navbar-toggler:focus, .navbar-toggler:hover { outline: none !important; }
.navbar-light .navbar-toggler-icon:hover, .navbar-light .navbar-toggler-icon:focus, .navbar-dark .navbar-toggler-icon:hover, .navbar-dark .navbar-toggler-icon:focus { background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 67, 67, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; }

#primary-font { line-height: 2rem; text-align: left; }
#primary-font .greetings { font-size: clamp(14px,5vw,16px); opacity: 0.6; }
#primary-font .full_name { display: inline-flex; font-variant: all-small-caps;  }
#primary-font .full_name .name { color: var(--text-color) !important; font-size: clamp(5rem, 6rem, 8.5rem); }
#primary-font .full_name .surname { color: var(--primary-color) !important; font-size: clamp(5rem, 6rem, 8.5rem); }
#primary-font .greeting-subtitle { color: inherit; font-variant: all-small-caps; font-size: clamp(2rem, 2.5rem, 3.5rem); opacity: 0.5; color: var(--text-color) }
#primary-font h1, h2, h3 { color: inherit; }
#primary-font .typing-carousel { font-size: clamp(2rem, 2.5rem, 3.5rem); color: var(--text-color) !important; font-variant: all-small-caps; margin-top: 1rem; opacity: 0.5; }
.rounded-circle { border-radius: 20% !important; }

/* NAV BAR */
.initial-navbar .navbar-nav .active, .initial-navbar li a:hover:not(.dropdown-toggle):not( .dropdown-item )
{
    background: var( --primary-color-blend );
    color: #fff;
    border-bottom: 0px;
    transition: 0.45s ease
}
.final-navbar .navbar-nav .active, .final-navbar li a:hover:not(.dropdown-toggle):not( .dropdown-item ) {
    color: #fff;
    transition: all 0.3s ease-out;
    background: var( --primary-color-blend );
    border-bottom: 0px;
}
.initial-navbar li a { color: var( --text-color ); }
.final-navbar li a:hover { color: var(--primary-color); background: transparent; border-bottom: 0px; }
.final-navbar li a { color: var( --text-color ); border-bottom: 0px; }
.top-navbar .dropdown-menu a:hover { background: inherit; color: var( --primary-color ) }
.navbar-collapse { margin-bottom: -2px; }
.navbar-collapse.show .navbar-nav .active, .navbar-collapse.show .navbar-nav a:hover { color: #fff; }
.navbar-collapse.show .dropdown a:hover { color: var( --primary-color ) }
.navbar-collapse.show li a, .navbar-collapse.collapsing li a { font-family: 'Oswald' }
.navbar-collapse.show, .navbar-collapse.collapsing { padding-left: 0px; }
.top-navbar .dropdown-menu.show { margin: 0px 0.1rem; padding-left: 0.5rem }

/* POST */
.hero-area { height: 500px; filter: saturate(0.5) }
.card-img-top { filter: saturate(0.5) }
.toc .nav-link:hover, .toc .nav-link:focus, .toc .nav-link.active { background-color: transparent !important; color: var(--primary-color) !important; font-weight: 900; }
#search-box { height: 40px; background-color: var(--background-color-dark); border: 1px solid var(--text-color); border-radius: 3px; }
.content .title h1 { font-size: clamp(40px, 8vw, 75px); }
a.header-anchor { color: var(--primary-color) !important; }
a.header-anchor:hover { opacity: 0.8; transition: 0.3s }
.post-content h2, .post-content h2 a { font-size: clamp(40px, 8vw, 55px); }
.post-content a { font-weight: 600; }
.post-content img { max-height: 550px; width: auto; margin-top: 1.5rem; margin-bottom: 3rem; border-radius: 15px; }

.post-summary { max-height: 210px; }
.keep-reading { width: 25px; }

.btn-group { background-color: #f6f6f699; border-radius: 5px; }
.btn-group .btn-link {
    color: #6b6b6b;
    display: block;
    font-size: 16px;
    line-height: 10px;
    font-weight: 500;
    padding: 25px 15px 30px;
    overflow: hidden;
    border-top: 2px solid transparent;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.btn-group .btn-link:hover, .btn-link:active, .btn-link:focus {
    text-decoration: none;
    background-color: var(--primary-color);
    color: #fff;
}

.btn-outline-info {
    width: 120px;
    text-align: right;
    padding: 0.5rem;
    background-color: var(--primary-color);
    border: 0px;
    color: #fff !important;
    font-variant: small-caps;
    border: 0px !important;
}
.btn-outline-info:hover {
    background-color: var(--primary-color-dark) !important;
}
@media only screen and (max-width: 768px) { #scroll-to-top { bottom: 4rem !important; right: 0.5rem !important; } }

.dropdown-item.active, .dropdown-item:active { background-color: var( --primary-color ); }

#recent-post-cards .card { cursor: pointer; } 
#recent-post-cards .card:hover .btn-outline-info { background-color: var( --primary-color-dark ) }
#recent-post-cards .card:hover h3.card-title { opacity: 0.8; }

.recent-posts-section .card .card-footer span { opacity: 0.6; font-size: 12pt; }

h3.card-title { color: var(--primary-color); font-weight: 600; text-align: left; font-size: 2rem; }
.card-text { color: var( --text-color ) }

@media only screen and (max-width: 576px) {
    /* CLASSE PER IMMAGINI */
}

/* HOME - ABOUT */
#about .company { opacity: 0.4 }
#about .location i { color: var( --primary-color ); }
#about .location .location_country { opacity: 0.4; color: initial; }
.circular-progress.primary-color .circular-progress-bar { border-color: var( --primary-color ); }
.social-link a { color: var( --text-color ) !important }
.social-link a:hover { color: var( --primary-color ) !important }

/* HOME - SKILLS */
#primary-skills div { cursor: help }
#primary-skills .card { background-color: transparent; border: 0px; padding: 1rem; border-radius: 0.7rem; }
#primary-skills .card-body { text-align: left; }
#primary-skills .card-head { text-align: center; border: 1px solid rgba(0,0,0,.125); border-radius: 0.25rem; }
#primary-skills .card-head img { border-radius: 0.1rem; padding: 2rem; margin-bottom: 2.5rem; height: 124px; object-fit: cover; }
#primary-skills .card-head h3 { color: var( --text-color-dark ); text-align: center; }
#primary-skills .card-title { margin-bottom: 2.5rem; font-family: "Oswald" }
#primary-skills .card-text { margin-top: 1.5rem; }
#primary-skills .skills-section .card .card-head { background-color: transparent; }
#primary-skills .card:hover, .card:focus { border: 0px; }

/* HOME - EXPERIENCES */
.circle { background-color: var( --primary-color ) }
.timeline .horizontal-line .corner, .timeline .vertical-line::after, .timeline .horizontal-line hr { border-color: var( --primary-color ) }
.flag img { width: 65px; border-radius: 10%; border: 1px solid #6b6b6b22 }
.flag { text-align: center }
@media only screen and (max-width: 992px) { .flag { display: none; } }
.position { opacity: 0.5; font-style: italic; font-size: initial; }
.experience-entry-description { color: var(--text-color); }

/* HOME - FOOTER */
.footer { background-color: var( --secondary-background-color ) }
.copyright { font-variant: small-caps; }
.copyright .author { opacity: 0.8; }
.copyright .year { font-size: 11pt; opacity: 0.6; }

/* HOME - PROJECTS */
.project-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 67, 46, 0.8);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}
.project img { display: block; width: 100%; height: auto; }
.project { position: relative; width: 100%; text-align: center; cursor: pointer; }
.project:hover .project-overlay { height: 100%; }

.project .project-overlay .project-description { 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
    width: 90%; }

.project-description h4 {
    text-transform: uppercase;
    color: #fff;
    font-weight: 800;
    text-align: center;
    font-size: 22px;
    margin-bottom: 3%;
    font-family: "Oswald"
}
.project-description p {
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 0 5%;
    opacity: 0.8;
    font-family: "Montserrat"
}

.project-description .link-1 {
    left: -10%;
    position: relative;
    margin-top: 5%;
}
.project-description .link-2 {
    left: 10%;
    position: relative;
    margin-top: 5%;
}
.project-description a { color: #fff; opacity: 0.6; }
.project-description a:hover { opacity: 1; }

.modal { top: 5%; }
.modal-header { background-color: var( --primary-color ); }
.modal-header h5, .modal-header span { color: #fff;  }
.carousel-control-prev-icon { background-image: url( "data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23FF4343' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E" ) }
.carousel-control-next-icon { background-image: url( "data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23FF4343' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E" ) }

/* POST */
.toc .nav-link { font-family: 'Montserrat'; letter-spacing: 1px; margin-bottom: 0.7rem; }
.toc-holder h5 { font-family: "Oswald" }
#scroll-to-top, #scroll-to-top i { color: var(--text-light); background-color: var(--primary-color); bottom: 2rem; right: 2.5rem; }
#scroll-to-top:hover, #scroll-to-top:hover > i, #scroll-to-top i:hover { background-color: var(--primary-color-dark); }
#scroll-to-top i { background-color: var(--primary-color); border-radius: 50%; }

.next-prev-navigator .btn-outline-info { background-color: var(--primary-color) !important; width: 150px }
.next-prev-navigator .btn-outline-info:hover { background-color: var(--primary-color-dark) !important; color: var(--text-light) !important; }
.next-prev-navigator .arrow { margin: auto; }
.next-prev-navigator .arrow.right { margin-right: 0px; }
.next-prev-navigator .arrow.left { margin-left: 0px; }
.next-prev-navigator .arrow img { width: 20px; max-width: 20px; }

.card-labels span { border-radius: 5px; background-color: var( --text-light ); color: var( --text-color ); padding: 8px; font-size: 12pt; }

/* SIDEBAR */
.tree li a { font-family: 'Montserrat'; letter-spacing: 0.5px; }
.tree li a.active { color: var(--primary-color); }
.tree li a:hover { color: var(--primary-color); font-weight: 900; }

.tree i { font-size: 14px; }

/* CONTACT FORM */
#contact_form { margin: 10rem 17.5% 0rem; min-height: 650px; }